*{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-family: 'Patrick Hand', 微軟正黑體;
}
body{
  background-image: url(https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
}

/* record list */
.record-list {
  display: flex;
  flex-flow: nowrap column;
  padding: 0px;
  border-radius: 15px;
  background-color: rgba(93, 93, 93, 0.8);
  width: 70%;
  margin: auto;
}
.totalAmount-title{
  text-align: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FEDF6C;
  background-color:rgba(255, 232, 224  ,0.4)
}
.container-list {
  padding: 10px;
  width: 100%;
}

/* icon */
.fas {
  color: #FF9D9D;
  font-size: 28px;
  text-align: center;
}

.btn-list {
  width: 70%;
  margin: auto;
  padding: 20px;

}
.dropdown{
  right: -20%;
}

.amount-list{
  font-size: 20px;
  color: #FEFFEB;
}

.name-list{
  color: #FEFFEB;
}

/* Edit record */
.record {
  background-color: rgba(93, 93, 93, 0.8);
  width: 50%;
  color: #FEFFEB ;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}